/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.description {
  height: 450px;
  width: 600px;
}

.text-box {
  width: 600px;
}

.center-content {
  text-align: center;
}

.index-page {
  height: 100px;
}

.upvote-button {
  display: inline-block;
}

.upvote-counter {
  padding-right: 15px;
  margin-left: 15px;
  padding-top: 10px;
}

.upvote-counter2 {
  padding-right: 15px;
  margin-left: 10px;
  font-size: 35px;
}

.arrows {
  list-style: none;
}

.comments {
  width: 500px;
  height: 100px;
}
